android-studio
android-studio-config
.bash_history
bin
.cache
.config
containers
downloads
dropbox
.fehbg
.gnupg
.ICEauthority
keepass
.lesshst
.local
.oracle_jre_usage
.pki
.spotify
.ssh
StudioProjects
.wget-hsts
.Xauthority
.Xdefaults
.xsel.log
.xsession-errors
