*.swp
.ICEauthority
.Xauthority
.android
.bash_history
.cache
.config/chrome 
.dmrc
.fehbg
.git
.git-credential-cache
.gitconfig
.gitignore
.gitignore.swp
.gnupg
.histfile
.i3
.ipython
.keras
.lesshst
.librecad
.local
.oracle_jre_usage
.pki
.python_history
.spotify
.ssh
.wget-hsts
.xsel.log
.xsession-errors
.zcompdump-nothingtosee-5.3.1
.zsh_history
1
StudioProjects
__pycache__
abuild
android-studio
android-studio-config
chrome.json
containers
dockerfiles
downloads
dropbox
gnupg/
h2o
h2o-3.22.1.4.zip
keepass
liquidprompt
mnist_cnn.py
mongomatch
py
sh3d
.ICEauthority
.Xauthority
.android
.bash_history
.cache
.git
.git-credential-cache
.gitconfig
.gitignore
.gnupg
.histfile
.i3
.ipython
.keras
.lesshst
.librecad
.local
.oracle_jre_usage
.pki
.python_history
.spotify
.ssh
.wget-hsts
.xsel.log
.xsession-errors
.zcompdump-nothingtosee-5.3.1
.zsh_history
