alias k=kubectl
alias czs='chezmoi status'
alias czg='chezmoi git'
alias czgs='chezmoi git status'
alias czc='chezmoi git -- commit -a -m'
alias devpod=devpod-cli
alias ez='exec zsh'

export EDITOR=vim

{{- if eq .chezmoi.hostname "fedora" }}
export RESTIC_REPOSITORY=s3:s3.ap-southeast-2.amazonaws.com/gybofkscjptzvgfcdyiayyxhkaiqzmbv
{{- end }}

{{- if lookPath "keeper" -}}
export OPENAI_API_KEY={{ keeperFindPassword "kAK2AaCY1caph9HST4f69Q" }}
{{ end }}
