#!/bin/bash

command -v dconf >/dev/null 2>&1 || exit 0

# Trigger chezmoi to re-run this script when dconf.ini changes.
# dconf.ini hash: {{ include "dconf.ini" | sha256sum }}

# Template dconf settings for machine-specific values
TEMPDCONF=$(mktemp)

# Use first Gnome prompt profile
sed -e "s/_GNOME_PROMPT_PROFILE_/$(dconf list /org/gnome/Prompt/Profiles/ | sed 's#/$##' | head -1)/" < {{ joinPath .chezmoi.sourceDir "dconf.ini" | quote }} > ${TEMPDCONF}

dconf load / < ${TEMPDCONF}
rm -f ${TEMPDCONF}
